@model WhatBug.WebUI.ViewModels.PermissionSchemes._ProjectRolePermissionsViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    <form method="post" asp-controller="PermissionSchemes" asp-action="SetProjectRolePermissions">
        <input asp-for="@Model.SchemeId" />
        <input asp-for="@Model.ProjectRoleId" />
        <div class="modal fade" id="projectRolePermissionsModal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modify Scheme Permissions</h5>
                        <br />
                        <p>Scheme: @Model.SchemeName</p>
                        <br />
                        <p>Project Role: @Model.ProjectRoleName</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Granted</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.GrantablePermissions.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input asp-for="@Model.GrantablePermissions[i].Id" type="hidden" />
                                            <input asp-for="@Model.GrantablePermissions[i].IsGranted" />
                                        </td>
                                        <td>@Model.GrantablePermissions[i].Name</td>
                                        <td>@Model.GrantablePermissions[i].Description</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}