@model WhatBug.WebUI.ViewComponents.IssuePrioritySelectComponentViewModel

@{
    <select asp-for="@Model.SelectedPriorityId" class="select2">
        @for (int i = 0; i < Model.AllSchemePriorities.Count; i++)
        {
            var iconClass = @Model.AllSchemePriorities[i].ColorIcon.Icon.ClassName;
            var iconColorClass = "wb-color-" + @Model.AllSchemePriorities[i].ColorIcon.Color.LowerName;
            <option value="@Model.AllSchemePriorities[i].Id" data-class="@iconClass + @iconColorClass">@Model.AllSchemePriorities[i].Name</option>
        }
    </select>
}
