<div class="card">
    <div class="card-header">
        <h3 class="card-title">ToDo</h3>
    </div>

    <div class="card-body table-responsive p-0">
        <table class="table table-striped table-valign-middle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Summary</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var issue in Model.ToDoIssues)
                {
                    <tr>
                        <td style="white-space: nowrap;">
                            <a asp-route="KanbanBoard" asp-route-projectId="@issue.ProjectId" asp-route-issue="@issue.Id">@issue.Id</a>
                        </td>
                        <td>
                            @issue.Summary
                        </td>
                        <td style="white-space: nowrap;">
                            <span>
                                <i class="wb-color-@issue.IconColor.ToLowerInvariant() icon icon--@issue.Icon"></i>
                                <label for="priority_Name">@issue.Priority</label>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>