@model WhatBug.Application.PermissionSchemes.Queries.GetRolesAndPermissions.GetRolesAndPermissionsQueryResult

@{
    ViewData["Title"] = "Permission Scheme: " + Model.Name;
}

@{
    <div class="page-container">
        <div class="text-block">
            <p>
                Permission schemes allow you to have different sets of role permissions on different projects.
                Each <a asp-route="ProjectRoles">project role</a> can be assigned certain permissions within a permission scheme.
            </p>
            <p>
                A project can then be assigned a permission scheme and will inherit all of the permissions from that scheme.
            </p>            
        </div>

        <div class="text-block">
            <p>
                Click <i class="icon icon--assign"></i> to grant permissions for a role in the @Model.Name scheme.
            </p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th class="table__header">Role</th>
                    <th class="table__header">Granted Permissions</th>
                    <th class="table__header table__header--shrink">Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var role in Model.Roles)
                {
                    <tr>
                        <td class="table__cell">
                            <p><b>@role.Name</b></p>
                            <p>@role.Description</p>
                        </td>

                        @if (!role.Permissions.Any())
                        {
                            <td class="table__cell">
                                <p>No permissions granted.</p>
                            </td>
                        }
                        else
                        { 
                            <td class="table__cell">
                                        <ul>
                                @foreach (var permission in role.Permissions)
                                { 
                                    <li>@permission.Name</li>
                                }
                                        </ul>
                            </td>
                        }

                        <td class="table__cell table__cell--icons">
                            <i class="table__cell-icon icon icon--scroll icon--info js__GrantRolePermissions" data-schemeid="@Model.SchemeId" , data-roleId="@role.Id"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="~/js/roles-and-permissions.js" asp-append-version="true"></script>
}