@model WhatBug.WebUI.ViewModels.Permissions.PermissionsGlobalEditViewModel

@{
    <!-- Modify Global Permissions Card -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@Model.UserWithPermissions.User.Username Global Permissions</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <form method="post" asp-controller="Permissions" asp-action="Edit">
                    <input asp-for="@Model.UserWithPermissions.User.Id" type="hidden" />
                    <table class="table table-bordered" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Granted</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.AllPermissions.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <input asp-for="@Model.GrantablePermissions[i].PermissionId" type="hidden"  />
                                        <input asp-for="@Model.GrantablePermissions[i].IsGranted" />
                                    </td>
                                    <td>@Model.AllPermissions[i].Name</td>
                                    <td>@Model.AllPermissions[i].Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">Update Permissions</button>
                </form>
            </div>
        </div>
    </div>
    <!-- End Modify Global Contents Card -->
}
