@model WhatBug.Application.PermissionSchemes.Queries.GetPermissionSchemes.GetPermissionSchemesQueryResult

@{
    ViewData["Title"] = "Permission Schemes";
}

@{
    <div class="page-container">
        <div class="text-block">
            <p>
                Project roles are used in conjunction with users and permission schemes.
                Each permission scheme can have different permissions for each role.
            </p>
            <p>
                Users can be assigned a role within a project. Users will be granted permissions
                based what is available for their role within the current permission scheme.
            </p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th class="table__header">Scheme Name</th>
                    <th class="table__header">Scheme Description</th>
                    <th class="table__header table__header--shrink">Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var scheme in Model.PermissionSchemes)
                {
                    <tr>
                        <td class="table__cell">@scheme.Name</td>
                        <td class="table__cell">@scheme.Description</td>

                        <td class="table__cell table__cell--icons">
                            @if (scheme.IsDefault)
                            {
                                <i class="table__cell-icon table__cell-icon--disabled icon icon--edit" data-schemeid="@scheme.Id"></i>
                                <i class="table__cell-icon table__cell-icon--disabled icon icon--delete" data-schemeid="@scheme.Id"></i>
                            }
                            else
                            {
                                <a class="table__cell-icon" asp-route="EditPermissionScheme" asp-route-schemeId="@scheme.Id">
                                    <i class="icon icon--edit"></i>
                                </a>

                                <i class="table__cell-icon icon icon--delete js__delete-permission" data-schemeid="@scheme.Id"></i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="l-flex l-flex--justify-content-end">
            <a class="button button--primary" asp-route="CreatePermissionScheme">
                <i class="button__icon icon icon--plus"></i>
                New Scheme
            </a>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="~/js/pages/permissionschemes.js"></script>
}