@model WhatBug.WebUI.ViewModels.Issues.CreateIssueViewModel

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/default.min.css">
    <link rel="stylesheet" href="~/lib/quill/quill.snow.css" />
}

@{
    ViewData["Title"] = "Create Issue";
}

@{
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h6 class="card-title">New Issue</h6>
                </div>
                <form asp-controller="Issues" asp-action="Create" method="post" class="quill-form">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="@Model.Summary"></label>
                            <input asp-for="@Model.Summary" class="form-control" />
                            <span asp-validation-for="@Model.Summary" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Description"></label>
                            <input asp-for="@Model.Description" name="Description" type="hidden" class="form-control quill-content" />
                            <div class="quill-editor"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-right">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
    <script type="text/javascript" src="~/lib/quill/quill.min.js"></script>
    <script type="text/javascript" src="~/js/quill.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}