@model WhatBug.Application.PermissionSchemes.Queries.GetSchemeRoles.SchemeDTO

@{
    ViewData["Title"] = "Permission Scheme Permissions";
}

<div class="row">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                Project Roles
            </h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Roles.Count; i++)
                    {
                        <tr>
                            <!-- Actions -->
                            <td>
                                <div class="input-group">
                                    <button type="button" class="btn btn-default mdl"
                                            data-id="@Model.Roles[i].Id"
                                            data-name="@Model.Roles[i].Name">
                                        Edit Permissions
                                    </button>
                                </div>
                            </td>
                            <td>@Model.Roles[i].Name</td>
                            <td>@Model.Roles[i].Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer clearfix">

        </div>
    </div>
</div>

<!-- Data to bind to modal partial viewmodel -->
<form id="projectRoleModalData">
    <input asp-for="@Model.Id" type="hidden" />
    <input asp-for="@Model.Name" type="hidden" />
    <input id="SelectedProjectRoleId" name="ProjectRoleId" type="hidden" />
    <input id="SelectedProjectRoleName" name="ProjectRoleName" type="hidden" />
</form>

<!-- Project Role Permissions Modal populated by partial view -->
<div class="modal fade" id="projectRolePermissionsModal"></div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.mdl').on('click', function () {
                $('#SelectedProjectRoleId').val($(this).data('id'));
                $('#SelectedProjectRoleName').val($(this).data('name'));

                $.post('/permissionschemes/getprojectrolepermissionspartial',
                    $('#projectRoleModalData').serialize()
                ).done(function (response) {
                    $('#projectRolePermissionsModal').html(response);
                    $('#projectRolePermissionsModal').modal('show');
                });
            });
        });
    </script>
}
