@model WhatBug.Application.PrioritySchemes.Queries.GetEditPriorityScheme.GetEditPrioritySchemeQueryResult

@{
    ViewData["Title"] = "Edit Priority Scheme";
}

@{

    <div class="page-container px-sm-3">
        <div class="text-block">
            <p>
                Priorities created here can be assigned to <a asp-route="PrioritySchemes">priority schemes</a>.
            </p>
            <p>
                When a <a asp-route="Projects">project</a> is assigned a priority scheme, priorities within
                that scheme become available to issues in that project.
            </p>
        </div>

        <div class="page-container__item--medium-width">
            <form class="form js-priorityschemeform" method="post">
                <input asp-for="Id" type="hidden" />

                <div class="form__group">
                    <label class="form__label" asp-for="Name">Scheme Name</label>

                    @if (Model.IsDefault)
                    {
                        <input class="form__input" asp-for="Name" readonly />
                    }
                    else
                    {
                        <input class="form__input" asp-for="Name" />
                    }

                    <span class="form__validation" asp-validation-for="Name"></span>
                </div>

                <div class="form__group">
                    <label class="form__label" asp-for="Description">Scheme Description</label>
                    <input class="form__input" asp-for="Description" />
                    <span class="form__validation" asp-validation-for="Description"></span>
                </div>

                <label class="form__label">Priorities</label>

                <div class="dual-listbox">
                    <div class="dual-listbox__col">
                        <table class="dual-listbox__col-table">
                            <thead>
                                <tr>
                                    <th class="table__header table__header--shrink">Available</th>
                                </tr>
                            </thead>
                            <tbody id="availablePriorityList" class="js-sortablelist">
                                @foreach (var priority in Model.Priorities.Where(p => !Model.PriorityIds.Contains(p.Id)).ToList())
                                {
                                    <tr key="@priority.Id">
                                        <td>
                                            <div>
                                                <icon icon="@priority.IconWebName" color="@priority.ColorName" />
                                                @priority.Name
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="dual-listbox__col">
                        <table class="dual-listbox__col-table">
                            <thead>
                                <tr>
                                    <th class="table__header table__header--shrink">Selected</th>
                                </tr>
                            </thead>
                            <tbody id="selectedPriorityList" class="js-sortablelist">
                                @foreach (var priority in Model.Priorities.Where(p => Model.PriorityIds.Contains(p.Id)).ToList())
                                {
                                    <tr key="@priority.Id">
                                        <td>
                                            <div>
                                                <icon icon="@priority.IconWebName" color="@priority.ColorName" />
                                                @priority.Name
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="page-container__item--medium-width">
                    <div class="alert alert--info alert--dismissible">
                        <button class="alert__dismiss" type="button" data-dismiss="alert" aria-hidden="true">×</button>
                        <p><i class="icon icon--information"></i>If no priorities are selected then the default priority will be used.</p>
                    </div>
                </div>

                <button class="button button--primary float-right" type="submit">
                    <i class="button__icon icon icon--save"></i>
                    Update
                </button>
            </form>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/create-edit-priority-scheme.js" asp-append-version="true"></script>
}