@model WhatBug.Application.Priorities.Queries.GetPriorities.GetPrioritiesQueryResult

@section Styles {
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
}

@{
    ViewData["Title"] = "Priorities";
}

<div class="page-container">
    <div class="text-block">
        <p>
            Priorities created here can be assigned to <a asp-route="PrioritySchemes">priority schemes</a>.
        </p>
        <p>
            When a <a asp-route="Projects">project</a> is assigned a priority scheme, priorities within
            that scheme become available to issues in that project.
        </p>
    </div>

    <div class="text-block">
        <p>
            Click <i class="icon icon--edit"></i> to edit a priority's details.
        </p>
        <p>
            Click <i class="icon icon--delete"></i> to delete a priority.
        </p>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="table__header table__header--shrink">Order</th>
                <th class="table__header">Icon &amp; Name</th>
                <th class="table__header">Description</th>
                <th class="table__header">Color</th>
                <th class="table__header table__header--shrink">Actions</th>
            </tr>
        </thead>
        <tbody id="priorityList">
            @foreach (var priority in Model.Priorities)
            {
                <tr key="@priority.Id">
                    <td class="table__cell js-handle">
                        <div class="table__cell-icons">
                            <i class="fas fa-arrows-alt-v"></i>
                        </div>
                    </td>

                    <td class="table__cell">
                        <span>
                            <icon icon="@priority.IconWebName" color="@priority.Color" />
                            <label asp-for="@priority.Name">@priority.Name</label>
                        </span>
                    </td>

                    <td class="table__cell">
                        @priority.Description
                    </td>

                    <td class="table__cell">
                        @{ var color = priority.Color.ToLowerInvariant();}
                        <div class="wb-bg-color-@color" style="width: 35px; height: 35px; border-radius: 50%;"></div>
                    </td>

                    <td class="table__cell">
                        <div class="table__cell-icons">
                            <a class="table__cell-icon" asp-route="EditPriority" asp-route-priorityId="@priority.Id">
                                <i class="icon icon--edit"></i>
                            </a>

                            @if (priority.IsDefault)
                            {
                                <i class="table__cell-icon table__cell-icon--disabled icon icon--delete" data-priorityid="@priority.Id"></i>
                            }
                            else
                            {
                                <i class="table__cell-icon icon icon--delete js__delete-priority" data-priorityid="@priority.Id"></i>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="l-flex l-flex--justify-content-end">
        <a class="button button--primary" asp-route="CreatePriority">
            <i class="button__icon icon icon--plus"></i>
            New Priority
        </a>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="~/js/pages/Priorities.js"></script>
}