@model WhatBug.WebUI.ViewModels.PrioritySchemes.CreatePrioritySchemeViewModel

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap4-duallistbox/css/bootstrap-duallistbox.min.css" />
}

@{
    ViewData["Title"] = "Create Priority Scheme";
}

@{
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h6 class="card-title">Priority Scheme Details</h6>
                </div>
                <form asp-controller="PrioritySchemes" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="@Model.Name"></label>
                            <input asp-for="@Model.Name" class="form-control" />
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Description"></label>
                            <textarea asp-for="@Model.Description" class="form-control" rows="2"></textarea>
                        </div>
                    </div>


                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Multiple</label>
                                    <select asp-for="@Model.PriorityIds" asp-items="@Model.AllPriorities" class="duallistbox"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary float-right">Create</button>
                    </div>




                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="~/lib/bootstrap4-duallistbox/js/jquery.bootstrap-duallistbox.min.js"></script>

    <script type="text/javascript">
        $(".duallistbox").bootstrapDualListbox({
            // see next for specifications
        });
    </script>
}