@model WhatBug.WebUI.ViewModels.PrioritySchemes.PrioritySchemesIndexViewModel

@{
    ViewData["Title"] = "Priority Schemes";
}

@{

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                Priority Scheme Details
            </h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Priorities</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.PrioritySchemes.Count; i++)
                    {
                    <tr>
                        <!-- Actions -->
                        <td>
                            <div class="input-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Action
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@Model.PrioritySchemes[i].Id">Edit</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                        </td>
                        <td>@Model.PrioritySchemes[i].Name</td>
                        <td>@Model.PrioritySchemes[i].Description</td>
                        <td>
                            @foreach (var priority in Model.PrioritySchemes[i].Priorities)
                            {
                                <i class="wb-color-@priority.ColorIcon.Color.LowerName @priority.ColorIcon.Icon.ClassName"></i>
                                <span>@priority.Name</span><br />
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer clearfix">
            <a asp-action="Create" class="btn btn-primary float-right"><i class="fas fa-plus"></i> New Priority Scheme</a>
        </div>
    </div>
}
