@model WhatBug.WebUI.Features.Projects.Create.CreateViewModel

@{
    ViewData["Title"] = "Create Project";
}

@{
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h6 class="card-title">New Project</h6>
                </div>
                <form method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="@Model.Name"></label>
                            <input asp-for="@Model.Name" class="form-control" />
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Key"></label>
                            <input asp-for="@Model.Key" class="form-control" />
                            <span asp-validation-for="@Model.Key" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Description"></label>
                            <textarea asp-for="@Model.Description" class="form-control" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.PrioritySchemeId"></label>
                            <select class="form-control" asp-for="@Model.PrioritySchemeId" asp-items="@Model.PrioritySchemeListItems"></select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-right">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
