@model WhatBug.WebUI.ViewModels.Priorities.CreatePriorityViewModel

@{
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Create Priority</h1>

        <div class="row">
            <div class="col-lg-6">

                <!-- Create Priority Card -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Priority Details</h6>
                    </div>
                    <div class="card-body">
                        <form asp-controller="Priorities" asp-action="Create" method="post">
                            <input asp-for="@Model.Priority.Id" />
                            <div class="form-group">
                                <label asp-for="@Model.Priority.Name"></label>
                                <input asp-for="@Model.Priority.Name" class="form-control" />
                                <span asp-validation-for="@Model.Priority.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Priority.Description"></label>
                                <textarea asp-for="@Model.Priority.Description" class="form-control" rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <select id="SelectedIcon" name="SelectedIcon">
                                    <option>fas fa-fw fa-user</option>
                                    <option>fas fa-fw fa-user-tie</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="SelectedIcon1" name="SelectedIcon1">
                                    @for (int i = 0; i < Model.AllIcons.Count - 1; i++)
                                    { 
                                        <option>fas fa-fw fa-@Model.AllIcons[i].ClassName</option>
                                    }
                                </select>
                            </div>
                            <i class="fas fa-fw fa-arrow-circle-up"></i>

                            <div class="form-group">
                                <button asp-controller="Priorities" asp-action="Create" class="btn btn-primary btn-block">Create Priority</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Create Priority Card-->
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        // Make sure to fire only when the DOM is ready
        jQuery(document).ready(function ($) {
            $('#SelectedIcon1').fontIconPicker(); // Load with default options
        });
    </script>
}