@model WhatBug.WebUI.ViewModels.Priorities.CreatePriorityViewModel

@section Styles {
    <!-- FontIconPicker -->
    <link rel="stylesheet" href="~/lib/fonticonpicker/css/base/jquery.fonticonpicker.min.css" />
    <link rel="stylesheet" href="~/lib/fonticonpicker/css/themes/dark-grey-theme/jquery.fonticonpicker.darkgrey.min.css" />
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
}

@{
    ViewBag.Title = "Create Priority"; 
}
@{
    <div class="row">
        <div class="col-md-6">
            <!-- Create Priority Card -->
            <div class="card card-primary">
                <div class="card-header">
                    <h6 class="card-title">Priority Details</h6>
                </div>
                <form asp-controller="Priorities" asp-action="Create" method="post">
                    <div class="card-body">
                        <input asp-for="@Model.Priority.Id" />
                        <div class="form-group">
                            <label asp-for="@Model.Priority.Name"></label>
                            <input asp-for="@Model.Priority.Name" class="form-control" />
                            <span asp-validation-for="@Model.Priority.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Priority.Description"></label>
                            <textarea asp-for="@Model.Priority.Description" class="form-control" rows="2"></textarea>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="mr-auto">
                                <label>Icon</label>
                                <div class="form-group">
                                    <select id="SelectedIcon" name="SelectedIcon">
                                        @for (int i = 0; i < Model.AllIcons.Count - 1; i++)
                                        {
                                            <option value="@Model.AllIcons[i].ClassName">@Model.AllIcons[i].ClassName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mr-auto">
                                <label>Icon Color</label>
                                <div class="input-group icon-colorpicker">
                                    <input asp-for="@Model.SelectedIconColor" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="mr-auto">
                                <label>Preview</label>
                                <div class="input-group-append">
                                    <span id="iconPreview" class="input-group-text"><i class="fas fa-square"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button asp-controller="Priorities" asp-action="Create" class="btn btn-primary">Create Priority</button>
                    </div>
                </form>
            </div>
            <!-- End Create Priority Card-->
        </div>
    </div>
}

@section Scripts {
    <!-- FontIconPicker -->
    <script type="text/javascript" src="~/lib/fonticonpicker/js/jquery.fonticonpicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/lib/admin-lte/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var iconColor = '#495057';

            // Update preview when icon or color change.
            function updateIconPreview() {
                $('#iconPreview .fas').attr('class', $('.selected-icon .fas').attr('class'));
                $('#iconPreview').css('color', iconColor);
            }

            // Init font icon picker
            $('#SelectedIcon').fontIconPicker({
                theme: 'fip-darkgrey',
                emptyIcon: false,
            });

            // Init color picker            
            $('.icon-colorpicker').colorpicker();
            $('.icon-colorpicker').on('colorpickerChange', function (event) {
                iconColor = event.color.toString();
                updateIconPreview();
            })
            $('#SelectedIcon').on('change', function ()
            {
                updateIconPreview();
            });

            
            updateIconPreview();
        });
    </script>
}