@model WhatBug.WebUI.ViewModels.Priorities.EditPriorityViewModel

@section Styles {
    <!-- FontIconPicker -->
    <link rel="stylesheet" href="~/lib/fonticonpicker/css/base/jquery.fonticonpicker.min.css" />
    <link rel="stylesheet" href="~/lib/fonticonpicker/css/themes/dark-grey-theme/jquery.fonticonpicker.darkgrey.min.css" />
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
}

@{
    ViewBag.Title = "Edit Priority";
}
@{
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h6 class="card-title">Priority Details</h6>
                </div>
                <form asp-controller="Priorities" method="post">
                    <div class="card-body">
                        <input type="hidden" id="PrevSelectedIcon" value="@Model.SelectedIconName" />
                        <input asp-for="@Model.Id" />
                        <div class="form-group">
                            <label asp-for="@Model.Name"></label>
                            <input asp-for="@Model.Name" class="form-control" />
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Description"></label>
                            <textarea asp-for="@Model.Description" class="form-control" rows="2"></textarea>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="mr-auto">
                                <label>Icon</label>
                                <div class="form-group">
                                    <select id="SelectedIcon" name="SelectedIconName">
                                        @for (int i = 0; i < Model.AllIcons.Count; i++)
                                        {
                                            <option value="@Model.AllIcons[i].ClassName">@Model.AllIcons[i].ClassName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mr-auto">
                                <label>Icon Color</label>
                                <div class="input-group icon-colorpicker">
                                    <input asp-for="@Model.SelectedIconColor" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="mr-auto">
                                <label>Preview</label>
                                <div class="input-group-append">
                                    <span id="iconPreview" class="input-group-text"><i class="fas fa-square"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-right">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    <!-- FontIconPicker -->
    <script type="text/javascript" src="~/lib/fonticonpicker/js/jquery.fonticonpicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script type="text/javascript" src="~/lib/admin-lte/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Icon Color Picker -->
    <script type="text/javascript" src="~/js/iconcolorpicker.js"></script>
}