@model WhatBug.Application.Projects.Queries.GetAssignUsersToRole.AssignUsersToRolesDTO

<form method="post" asp-action="AssignUsersToRole">
    <input type="hidden" asp-for="@Model.ProjectId" />

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Users to Project Role</h5>
                <br />
                <p>Project: @Model.Project.Name</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label asp-for="@Model.UserIds">Assign these users</label>
                    <select asp-for="@Model.UserIds" class="select2 input-medium" multiple="multiple">
                        @for (int i = 0; i < Model.Users.Count; i++)
                        {
                            <option value="@Model.Users[i].Id">@Model.Users[i].Username</option>
                        }
                    </select>
                </div>
                <div class="row">
                    <label asp-for="@Model.RoleId">To the following role</label>
                    <select asp-for="@Model.RoleId" class="select2 input-medium">
                        @for (int i = 0; i < Model.Roles.Count; i++)
                        {
                            <option value="@Model.Roles[i].Id">@Model.Roles[i].Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</form>