@model WhatBug.Application.Projects.Queries.GetKanbanBoard.KanbanBoardDTO

@section Styles {
    <link rel="stylesheet" href="~/css/pages/kanban.min.css" />
} 

@{

  <div class="d-flex">

      @foreach (var status in Model.IssueStatusGroups)
      {
          <div class="col">
              <div class="card card-secondary">
                  <div class="card-header">
                      <h3 class="card-title">
                          @status.Name
                      </h3>
                  </div>
                  <div class="card-body drag-container">
                      <input type="hidden" class="statusId" value="@status.Id" />

                      @foreach (var issue in status.Issues)
                      {
                        <div class="issue-card card card-info card-outline"> 
                            <input type="hidden" class="issueId" value="@issue.Id" />


                            <div class="d-flex">
                                <!-- Left Column -->
                                <div class="flex-grow-1 m-2">

                                    <table>
                                        <tr>
                                            <td><icon style="min-width: 1.5rem;" icon="@issue.IssueTypeIconWebName" color="@issue.IssueTypeIconColor" /></td>
                                            <td><span>@issue.Id</span></td>
                                        </tr>
                                        <tr>
                                            <td><icon style="min-width: 1.5rem;" icon="@issue.PriorityIconWebName" color="@issue.PriorityIconColor" /></td>
                                            <td><span>@issue.Summary</span></td>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    <avatar email="@issue.AssigneeEmail" class=" user-image img-circle img-sm m-2" tooltip="hello" />
                                </div>
                            </div>
                        </div>
                      }
                  </div>
              </div>
          </div>
      }
</div>
}

@section Scripts {
    <script type="text/javascript" src="~/js/pages/kanban.js"></script> 
}
