@model WhatBug.Application.Priorities.Queries.GetCreatePriority.GetCreatePriorityQueryResult
@using WhatBug.WebUI.Shared.Partials.KanbanCard
@inject WhatBug.Application.Common.Interfaces.ICurrentUserService currentUserService

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.min.css" />
}

@{
    ViewBag.Title = "Create Priority";
}
@{
    <div class="page-container">
        <div class="text-block">
            <p>
                Priorities created here can be assigned to <a asp-route="PrioritySchemes">priority schemes</a>.
            </p>
            <p>
                When a <a asp-route="Projects">project</a> is assigned a priority scheme, priorities within
                that scheme become available to issues in that project.
            </p>
        </div>

        <div class="page-container__item--medium-width">
            <form class="form" method="post">
                <input type="hidden" asp-for="ColorId" />
                <input type="hidden" asp-for="IconId" />
                <div class="form__group">
                    <label class="form__label" asp-for="Name">Priority Name</label>
                    <input class="form__input" asp-for="Name" />
                    <span class="form__validation" asp-validation-for="Name"></span>
                </div>
                <div class="form__group">
                    <label class="form__label" asp-for="Description">Priority Description</label>
                    <input class="form__input" asp-for="Description" />
                    <span class="form__validation" asp-validation-for="Description"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Colors">Color</label>
                    <select class="form-control js-selectpicker js-colorpicker">
                        @for (int i = 0; i < Model.Colors.Count; i++)
                        {
                            var code = "<div class='row' data-color='" + Model.Colors[i].Name.ToLowerInvariant() + "'>"
                                + "<div class='col-4 wb-bg-color-" + Model.Colors[i].Name.ToLowerInvariant() + "'></div>"
                                + "<div class='col-8'>" + Model.Colors[i].Name + "</div>"
                                + "</div>";

                            <option value="@Model.Colors[i].Id" data-content="@code" data-color="@Model.Colors[i].Name.ToLowerInvariant()">@i</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="IconId">Icon</label>
                    <select class="form-control js-selectpicker js-iconpicker">
                        @for (int i = 0; i < Model.Icons.Count; i++)
                        {
                            var code =
                                 "<div class='row' style='align-items: center;' data-icon='" + @Model.Icons[i].WebName + "'>"
                                + "<div class='col-1 icon--" + Model.Icons[i].WebName + "'></div>"
                                + "<div>" + Model.Icons[i].Name + "</div>"
                                + "</div>";

                            <option value="@Model.Icons[i].Id" data-content="@code" data-icon="@Model.Icons[i].WebName">@i</option>
                        }
                    </select>
                </div>
                <div>
                    <label>Example Issue Card</label>
                    <p class="mb-3">
                        This example shows how your selection will look on the issue board when an
                        issue is given this priority.
                    </p>
                    <div style="max-width: 500px;">
                        @{
                            var vm = new KanbanCardVm
                            {
                                Id = "DEMO-1",
                                Summary = "Issue Example Title",
                                AssigneeEmail = currentUserService.Email,
                                IssueTypeIconColor = "blue",
                                IssueTypeIconWebName = "check-square",
                            };
                        }
                        @await Html.PartialAsync("~/Shared/Partials/KanbanCard/_KanbanCard.cshtml", vm)
                    </div>
                </div>
                <button class="button button--primary float-right" type="submit">
                    <i class="button__icon icon icon--plus"></i>
                    Create Priority
                </button>
            </form>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/js/pages/EditPriority.js"></script>
}