@model WhatBug.Application.PrioritySchemes.Queries.GetPrioritySchemes.GetPrioritySchemesQueryResult
@{
    ViewData["Title"] = "Priority Schemes";
}

@{

    <div class="page-container">
        <div class="text-block">
            <p>
                Priority schemes allow you to group different priorities together.
                Each <a asp-route="Projects">project</a> can be assigned a priority scheme.
            </p>
            <p>
                Issues within a project can be assigned a priority from those available within the selected scheme.
            </p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th class="table__header">Scheme Name</th>
                    <th class="table__header">Scheme Description</th>
                    <th class="table__header">Priorities</th>
                    <th class="table__header table__header--shrink">Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var scheme in Model.PrioritySchemes)
                {
                    <tr>
                        <td class="table__cell">@scheme.Name</td>
                        <td class="table__cell">@scheme.Description</td>

                        <td>
                            @foreach (var priority in scheme.Priorities)
                            {
                            <div>
                                <icon icon="@priority.IconWebName" color="@priority.ColorName" />
                                <b>@priority.Name</b>
                            </div>
                            }
                        </td>

                        <td class="table__cell table__cell--icons">
                            <a class="table__cell-icon" asp-route="EditPriorityScheme" asp-route-schemeId="@scheme.Id">
                                <i class="icon icon--edit"></i>
                            </a>
                            <i class="table__cell-icon icon icon--delete js__delete-priorityscheme" data-schemeid="@scheme.Id"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="l-flex l-flex--justify-content-end">
            <a class="button button--primary" asp-route="CreatePriorityScheme">
                <i class="button__icon icon icon--plus"></i>
                New Scheme
            </a>
        </div>
    </div>
}
